doctype html
html
  head
    meta(charst="utf-8")
  body
    //- form(action="adminImageUpload" method="post" enctype="multipart/form-data")
    form(action="uploadTest" method="post" enctype="multipart/form-data")
      input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      //- input(type="file" name="file")
      input(type="submit")
    //- img(src="/agreement")
    
  //- iframe(src="#{url}" width="1024" height="1440")